input{
    font-size: 30px;
}
.addcontact{
    display: inline-block;
    text-align:left;
    font: 25px Arial, sans-serif;
    font-weight: bold;
}

#savebtn{
    background-color: #4CAF50;
    border-radius: 2px;
    border: none;
    color: white;
    padding: 15px 32px;
    
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
  }